@font-face {
    font-family: 'Vazir';
    src: url('../../../vazir-font-v16.1.0/Vazir.woff2') format('woff2'),
    url('../../../vazir-font-v16.1.0/Vazir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Vazir'!important;
}
